body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    color: white;
    text-align: center;
}

/* Background video fill */
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Main layout */
.container {
    margin-top: 120px;
}

/* Game Tabs */
.game-tab {
    display: inline-block;
    width: 330px;
    margin: 15px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.thumb {
    width: 330px;
    height: 185px;
    object-fit: cover;
    border-radius: 10px;
}

.game-title {
    font-size: 20px;
    margin-top: 8px;
    font-weight: 700;
}

/* Announcements */
#announcements {
    margin-bottom: 25px;
    font-size: 22px;
}

.announce-item {
    margin-bottom: 10px;
    font-weight: 700;
}

/* Discord button */
#discord-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
}

#discord-btn img {
    width: 33px;
    height: auto;
}

/* VRFS Champions Image Button */
#vrfs-btn {
    position: fixed;
    top: 10px;
    right: 55px;
    z-index: 999;
    display: inline-block;
}

#vrfs-btn img {
    width: 50px;   /* smaller */
    height: auto;
    border-radius: 4px;
    transition: 0.2s;
}

#vrfs-btn img:hover {
    transform: scale(1.08);
}






